.hero {
  display:flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px 30px 0px;
  border-bottom: 1px solid #c0c0c0;
}
.hero__title {
  color: #525151;
  font-weight: normal;
  font-size: 60px;
}
.hero__subtitle {
  font-weight: normal;
  font-size: 40px;
}
