* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #f3f2f2;
}

ul {
  list-style: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header__image {
  width: 400px;
  margin: 10px 0px 0px 10px;
}

.header__navbar {
  display: flex;
  width: 50%;
  justify-content: space-around;
}

.header__navbar--item {
  margin: 10px;
  text-decoration: none;
  padding: 10px 30px;
  color: #7C7C7C;
}

.header__navbar--item:hover {
  background-color: rgb(255, 92, 32);
  color: whitesmoke;
}